<launch>
  <!-- Arguments exposés -->
  <arg name="enable_color"       default="true"/>
  <arg name="enable_depth"       default="true"/>
  <arg name="enable_infra1"      default="false"/>   <!-- IR1 stream -->
  <arg name="serial_no"          default="333422300494"/>
  <arg name="color_width"        default="640"/>
  <arg name="color_height"       default="480"/>
  <arg name="color_fps"          default="30"/>
  <arg name="depth_width"        default="640"/>
  <arg name="depth_height"       default="480"/>
  <arg name="depth_fps"          default="30"/>
  <arg name="align_depth"        default="false"/>
  <arg name="enable_pointcloud"  default="false"/>

  <!-- Inclusion du driver RealSense avec les seuls args valides -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_color"      value="$(arg enable_color)"/>
    <arg name="enable_depth"      value="$(arg enable_depth)"/>
    <arg name="enable_infra1"     value="$(arg enable_infra1)"/>
    <arg name="serial_no"         value="$(arg serial_no)"/>
    <arg name="color_width"       value="$(arg color_width)"/>
    <arg name="color_height"      value="$(arg color_height)"/>
    <arg name="color_fps"         value="$(arg color_fps)"/>
    <arg name="depth_width"       value="$(arg depth_width)"/>
    <arg name="depth_height"      value="$(arg depth_height)"/>
    <arg name="depth_fps"         value="$(arg depth_fps)"/>
    <arg name="align_depth"       value="$(arg align_depth)"/>
    <arg name="enable_pointcloud" value="$(arg enable_pointcloud)"/>
  </include>
</launch>
